<div class="container d-flex wrapper">
  <div class="col-1 time" title="time" style="background-color: red;">
    <div class="empty">
      <div class="hour-group">
        <div class="minute">empty</div>
      </div>
    </div>
    <div class="hour">
      <div class="hour-group">
        <div class="ampm">pm</div>
        <div class="minute">30</div>
      </div>
    </div>
    <div class="hour">
      <div class="hour-group">
        <div class="ampm">pm</div>
        <div class="minute">30</div>
      </div>
    </div>
    <div class="hour">
      <div class="hour-group">
        <div class="ampm">pm</div>
        <div class="minute">30</div>
      </div>
    </div>
    <div class="hour">
      <div class="hour-group">
        <div class="ampm">pm</div>
        <div class="minute">30</div>
      </div>
    </div>
    <div class="hour">
      <div class="hour-group">
        <div class="ampm">pm</div>
        <div class="minute">30</div>
      </div>
    </div>
    <div class="hour">
      <div class="hour-group">
        <div class="ampm">pm</div>
        <div class="minute">30</div>
      </div>
    </div>
  </div>
  <div class="container schedule-wrap">
    <div class="row staff">
      <div class="col-4">name</div>
      <div class="col-4">name</div>
      <div class="col-4">name</div>
    </div>
    <div class="row timetable">
      <div class="col-4 schedule-column">
        <div class="table-row">a</div>
        <div class="table-row">b</div>
        <div class="table-row">c</div>
        <div class="table-row">d</div>
        <div class="table-row">e</div>
        <div class="table-row">f</div>
        <div class="table-row">g</div>
        <div class="table-row">h</div>
        <div class="table-row">i</div>
        <div class="table-row">j</div>
        <div class="table-row">k</div>
        <div class="table-row">l</div>
      </div>
      <div class="col-4 schedule-column">b</div>
      <div class="col-4 schedule-column">c</div>
    </div>
  </div>
</div>

