.clock {
    margin: 0 !important;
    padding: 0 !important;
}

.hour {
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
    height: 35px;
}

.minute {
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
    font-style: italic;
    height: 35px;
}

.appointment {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.6vh;
    height: 35px;
    border-bottom: 1px dashed gray;
}

input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
    border: 1px solid red;
}

.help-block {
    color: red;
    font-size: .8rem;
}

/* .button.btn {
    font-size: .5vh !important;
    padding: 0 2.5px !important;
    border: none !important;
} */