<!-- input start -->
<div class="container">
  <div class="row d-flex">
    <div class="col-12 d-flex" id="current-week">
      <div class="d-flex flex-fill w-100 justify-content-center p-2">
        <h3>{{ monthName }}, {{ year }} | week {{ week }}</h3>
      </div>
    </div>
    <div class="col-12 d-flex flex-column" id="weekdays">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="day col-1">
            <button class="btn btn-primary day-button d-flex flex-column justify-content-center align-items-center"
              id="current" [routerLink]="['/current']" (click)="toggleClass('current')">
              <p class="m-1">{{ current | slice:0:3 }}</p>
              <p class="m-1">{{ current | slice:7:10 }}</p>
            </button>
          </div>
          <div class="day col-1">
            <button class="btn btn-primary day-button d-flex flex-column justify-content-center align-items-center"
              id="second" [routerLink]="['/second']" (click)="toggleClass('second')">
              <p class="m-1">{{ second | slice:0:3 }}</p>
              <p class="m-1">{{ second | slice:7:10 }}</p>
            </button>
          </div>
          <div class="day col-1">
            <button class="btn btn-primary day-button d-flex flex-column justify-content-center align-items-center"
              id="third" [routerLink]="['/third']" (click)="toggleClass('third')">
              <p class="m-1">{{ third | slice:0:3 }}</p>
              <p class="m-1">{{ third | slice:7:10 }}</p>
            </button>
          </div>
          <div class="day col-1">
            <button class="btn btn-primary day-button d-flex flex-column justify-content-center align-items-center"
              id="fourth" [routerLink]="['/fourth']" (click)="toggleClass('fourth')">
              <p class="m-1">{{ fourth | slice:0:3 }}</p>
              <p class="m-1">{{ fourth | slice:7:10 }}</p>
            </button>
          </div>
          <div class="day col-1">
            <button class="btn btn-primary day-button d-flex flex-column justify-content-center align-items-center"
              id="fifth" [routerLink]="['/fifth']" (click)="toggleClass('fifth')">
              <p class="m-1">{{ fifth | slice:0:3 }}</p>
              <p class="m-1">{{ fifth | slice:7:10 }}</p>
            </button>
          </div>
          <div class="day col-1">
            <button class="btn btn-primary day-button d-flex flex-column justify-content-center align-items-center"
              id="sixth" [routerLink]="['/sixth']" (click)="toggleClass('sixth')">
              <p class="m-1">{{ sixth | slice:0:3 }}</p>
              <p class="m-1">{{ sixth | slice:7:10 }}</p>
            </button>
          </div>
          <div class="day col-1">
            <button class="btn btn-primary day-button d-flex flex-column justify-content-center align-items-center"
              id="seventh" [routerLink]="['/seventh']" (click)="toggleClass('seventh')">
              <p class="m-1">{{ seventh | slice:0:3 }}</p>
              <p class="m-1">{{ seventh | slice:7:10 }}</p>
            </button>
          </div>
        </div>
      </div>
      <div class="container mt-5">
        <div class="row">
          <div class="col-12">
            <router-outlet></router-outlet>
          </div>
        </div>
        <div class="row mt-5 d-flex justify-content-start align-items-center">
          <div class="col-12">
            <!-- <form (ngSubmit)="onSubmit()" #reservationForm="ngForm">
              <div class="row">
                <div class="col-sm-3 col-md-5 ml-3">
                  <div class="form-group" id="reservation-input">
                    <input
                      type="text"
                      class="form-control"
                      id="username"
                      placeholder="First and last name"
                      ngModel
                      name="name"
                      required
                      minlength="5"
                      maxlength="35"
                      #name="ngModel">
                  </div>
                  <span class="help-block" *ngIf="!name.valid && name.touched">Not a valid name</span>
                </div>
                <div class="col-sm-3 col-md-5 ml-3">
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      placeholder="Email: one@two.three"
                      ngModel
                      name="email"
                      required
                      email
                      #email="ngModel">
                  </div>
                  <span class="help-block" *ngIf="!email.valid && email.touched">Not a valid email</span>
                </div>
              </div>
              <div class="row d-flex justify-content-start">
                <div class="col-sm-3">
                  <legend class="col-form-label col-sm-2 pt-0">Stylists</legend>
                  <div class="col-sm-9">
                    <select class="custom-select mr-sm-2"
                      id="stylist"
                      placeholder="stylist"
                      ngModel
                      name="stylist"
                      required
                      #stylist="ngModel">
                      <option value="Jackie">Jackie</option>
                      <option value="Jill">Jill</option>
                      <option value="John">John</option>
                    </select>
                    <span class="help-block" *ngIf="!stylist.valid && stylist.touched">No stylist selected</span>
                  </div>
                </div>
                <div class="col-sm-3">
                  <legend class="col-form-label col-sm-2 pt-0">Time</legend>
                  <div class="col-sm-9">
                    <select 
                      class="custom-select mr-sm-2"
                      id="time"
                      ngModel
                      name="time"
                      required
                      #time="ngModel">
                      <option value="13:00">13:00</option>
                      <option value="13:30">13:30</option>
                      <option value="14:00">14:00</option>
                      <option value="14:30">14:30</option>
                      <option value="15:00">15:00</option>
                      <option value="15:30">15:30</option>
                      <option value="16:00">16:00</option>
                      <option value="16:30">16:30</option>
                      <option value="17:00">17:00</option>
                      <option value="17:30">17:30</option>
                      <option value="18:00">18:00</option>
                      <option value="18:30">18:30</option>
                    </select>
                    <span class="help-block" *ngIf="!time.valid && time.touched">No time selected</span>
                  </div>
                </div>
                <div class="col-sm-3">
                  <legend class="col-form-label col-sm-2 pt-0">Day</legend>
                  <div class="col-sm-9">
                    <select 
                      class="custom-select mr-sm-2"
                      id="day"
                      ngModel
                      name="day"
                      required
                      #day="ngModel">
                      <option value="{{ current | slice:0:11 }}">{{ current | slice:0:11 }}</option>
                      <option value="{{ second | slice:0:11 }}">{{ second | slice:0:11 }}</option>
                      <option value="{{ third | slice:0:11 }}">{{ third | slice:0:11 }}</option>
                      <option value="{{ fourth | slice:0:11 }}">{{ fourth | slice:0:11 }}</option>
                      <option value="{{ fifth | slice:0:11 }}">{{ fifth | slice:0:11 }}</option>
                      <option value="{{ sixth | slice:0:11 }}">{{ sixth | slice:0:11 }}</option>
                      <option value="{{ seventh | slice:0:11 }}">{{ seventh | slice:0:11 }}</option>
                    </select>
                    <span class="help-block" *ngIf="!day.valid && day.touched">No date selected</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-5 mt-3">
                <button [disabled]="!reservationForm.valid" class="btn btn-primary" type="submit">Make reservation</button>
              </div>
            </form> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- input end -->
<!-- output start -->
<!-- <div class="container">
  <div class="row mx-auto justify-content-center">
    <div class="col-4">
      <div class="container">
        <div class="row d-flex flex-row" #jackie>
          <div class="col-12" id="Jackie13:00">
            <p>13:00</p>
          </div>
          <div class="col-12" id="Jackie13:30">
            <p>13:30</p>
          </div>
          <div class="col-12" id="Jackie14:00">
            <p>14:00</p>
          </div>
          <div class="col-12" id="Jackie14:30">
            <p>14:30</p>
          </div>
          <div class="col-12" id="Jackie15:00">
            <p>15:00</p>
          </div>
          <div class="col-12" id="Jackie15:30">
            <p>15:30</p>
          </div>
          <div class="col-12" id="Jackie16:00">
            <p>16:00</p>
          </div>
          <div class="col-12" id="Jackie16:30">
            <p>16:30</p>
          </div>
          <div class="col-12" id="Jackie17:00">
            <p>17:00</p>
          </div>
          <div class="col-12" id="Jackie17:30">
            <p>17:30</p>
          </div>
          <div class="col-12" id="Jackie18:00">
            <p>18:00</p>
          </div>
          <div class="col-12" id="Jackie18:30">
            <p>18:30</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="container">
        <div class="row d-flex flex-row" #jill>
          <div class="col-12" id="Jill13:00">
            <p>13:00</p>
          </div>
          <div class="col-12" id="Jill13:30">
            <p>13:30</p>
          </div>
          <div class="col-12" id="Jill14:00">
            <p>14:00</p>
          </div>
          <div class="col-12" id="Jill14:30">
            <p>14:30</p>
          </div>
          <div class="col-12" id="Jill15:00">
            <p>15:00</p>
          </div>
          <div class="col-12" id="Jill15:30">
            <p>15:30</p>
          </div>
          <div class="col-12" id="Jill16:00">
            <p>16:00</p>
          </div>
          <div class="col-12" id="Jill16:30">
            <p>16:30</p>
          </div>
          <div class="col-12" id="Jill17:00">
            <p>17:00</p>
          </div>
          <div class="col-12" id="Jill17:30">
            <p>17:30</p>
          </div>
          <div class="col-12" id="Jill18:00">
            <p>18:00</p>
          </div>
          <div class="col-12" id="Jill18:30">
            <p>18:30</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="container">
        <div class="row d-flex flex-row" #john>
          <div class="col-12" id="John13:00">
            <p>13:00</p>
          </div>
          <div class="col-12" id="John13:30">
            <p>13:30</p>
          </div>
          <div class="col-12" id="John14:00">
            <p>14:00</p>
          </div>
          <div class="col-12" id="John14:30">
            <p>14:30</p>
          </div>
          <div class="col-12" id="John15:00">
            <p>15:00</p>
          </div>
          <div class="col-12" id="John15:30">
            <p>15:30</p>
          </div>
          <div class="col-12" id="John16:00">
            <p>16:00</p>
          </div>
          <div class="col-12" id="John16:30">
            <p>16:30</p>
          </div>
          <div class="col-12" id="John17:00">
            <p>17:00</p>
          </div>
          <div class="col-12" id="John17:30">
            <p>17:30</p>
          </div>
          <div class="col-12" id="John18:00">
            <p>18:00</p>
          </div>
          <div class="col-12" id="John18:30">
            <p>18:30</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- output end -->
<!-- dynamic id start -->
<div class="container">
  <div class="row">
    <div class="col-3">
      <p id="todayIs{{ current | slice:0:3 }}">Dynamic ID!</p>
    </div>
  </div>
</div>
<!-- dynamic id end -->
