/* .container {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(300px);
    scroll-snap-type: y mandatory;
}

.child {
    scroll-snap-align: start;
} */
/* 
#day-wrapper {
    border: .2px dotted rgb(112, 112, 112);
    text-align: center;
    justify-content: center;
    margin: 2px 1px;
    -webkit-transition: 100ms ease-in;
        -moz-transition: 100ms ease-in;
            -o-transition: 100ms ease-in;
                -ms-transition: 100ms ease-in;
                    transition: 100ms ease-in;
}

#day-wrapper:hover {
    display: block;
    background-color: rgba(255, 86, 8, 0.808);
    -webkit-box-shadow: 0 10px 6px -6px #777;  
    -moz-box-shadow:    0 10px 6px -6px #777;  
    box-shadow:         0 10px 6px -6px #777;
    -webkit-transform: translate(10%, 15px, 15px);
        -moz-transform: translate(10%, 15px, 15px);
            -o-transform: translate(10%, 15px, 15px);
                -ms-transform: translate(10%, 15px, 15px);
                    transform: translate(10%, 15px, 15px);

    -webkit-transform:rotate(2.5deg);
        -moz-transform:rotate(2.5deg);
            -o-transform:rotate(2.5deg);
                -ms-transform:rotate(2.5deg);
                    transform:rotate(2.5deg);
    transition: 100ms ease-out;                


}

.day {
    padding: 2.5px 2.5px;
    margin:  2.5px 2.5px;
    font-weight: bold;
}

#day-name-short {
    text-transform: uppercase;
} */
/* ------------------------------------------------ */

.caret {
    color: black;
}

.hairdresser {
    height: 13.5rem;
    justify-content: center;
    text-align: center;
    font-size: 1.5vh;
    font-weight: bold;
    border-bottom: .7px dashed rgb(202, 81, 81);
    border-left: .7px dashed rgb(202, 81, 81);
    /* border-right: .7px dashed rgb(199, 121, 121); */
}

/* .hours {
    width: inherit;
} */

.hour {
    height: .625rem;
    font-size: 1vh;
    color: rgba(128, 128, 128, 0.425);
}

.day {
    font-size: 1.5vh;
    font-weight: bold;
}