.caret {
    color: black;
}

.hairdresser {
    height: 13.5rem;
    justify-content: center;
    text-align: center;
    font-size: 1.5vh;
    font-weight: bold;
    border-bottom: .7px dashed rgb(202, 81, 81);
    border-left: .7px dashed rgb(202, 81, 81);
    /* border-right: .7px dashed rgb(199, 121, 121); */
}

.hour {
    height: .625rem;
    font-size: 1.5vh;
    color: rgba(128, 128, 128, 0.425);
}

.day {
    font-size: 2vh;
    font-weight: bold;
}

.day-button {
    min-width: 65px;
}

input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
    border: 1px solid red;
}

.help-block {
    color: red;
    font-size: .8rem;
}